<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55354687797-8jptgecavujricsqv93c8i04emc24r5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55354687797-8jptgecavujricsqv93c8i04emc24r5q</string>
	<key>API_KEY</key>
	<string>AIzaSyA6tjYaN3ruXOKXCXVpLoX7BXR9Y4a0kMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>55354687797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omar.stylo</string>
	<key>PROJECT_ID</key>
	<string>stylo-8ab50</string>
	<key>STORAGE_BUCKET</key>
	<string>stylo-8ab50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55354687797:ios:241db1efdbc6d3acad8c7c</string>
</dict>
</plist>